#outer-box{
    background-color:purple;
}
.box{
    background-color: rgb(1, 1, 249);
    padding: 5px;
}
.inner-box{
    background-color: red;
}
p{
    color: rgb(255, 255, 0);
    margin: 0%;
    padding: 0%;
}
.white-text{
    color: white;
}
