.white{
    width: 100px;
    height: 100px;
    background-color: #f0d9b5 ;
}
.black{
    width: 100px;
    height: 100px;
    background-color:#b58863 ;
}
.container{
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

}